.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.profile-img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-top: 70px;
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 40px;
    font-weight: 800;
}

.hero h1 span{
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-contact{
    padding: 10px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    cursor: pointer;
}

.hero-contact:hover{
    border: 2px solid white;
}

.hero-resume{
    padding: 10px 50px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}

.hero-resume a{
    text-decoration: none;
    color:white
}

.hero-resume:hover{
    border-color: #B923E1;
}

@media screen and (max-width: 600px){
    .hero{
        gap: 20px;
    }

    .profile-img{
        width: 150px;
        height: 150px;
    }

    .hero h1{
        font-size: 30px;
        text-align: center;
        width: 100%;
        font-weight: 600;
    }

    .hero p{
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }

    .hero-action{
        gap: 20px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }

    .hero-contact{
        padding: 15px 30px;
    }

    .hero-resume{
        padding: 15px 45px;
    }
    
}